# Importando Arquivo CSV

In [171]:
import pandas as pd

df = pd.read_csv('notebook.csv', skiprows = range(15), 
                 usecols = ['Time', 'Distance',  'MS3_RPM', 'MS3_PW1'])
    
df = df.drop([0,1], axis=0).reset_index(drop=True)

df = df.rename(columns={'MS3_RPM' : 'RPM',
                  'MS3_PW1' : 'PW'})
df

         Time Distance          RPM        PW
0       0.000    0.000  4413.000000  2.230000
1       0.050    0.000  4438.000000  2.220000
2       0.100    0.000  4367.000000  2.210000
3       0.150    0.000  4377.000000  2.220000
4       0.200    0.000  4434.000000  2.230000
...       ...      ...          ...       ...
66325  28.950    0.181  1982.060059  1.990000
66326  29.000    0.182  1900.000000  1.990000
66327  29.050    0.182  2011.479980  1.990000
66328  29.100    0.182  1959.000000  1.990000
66329  29.115    0.182  1959.000000  1.990000

[66330 rows x 4 columns]

# Cálculo do Duty Cycle

In [172]:
df = df[['RPM', 'PW']].astype(float)

df['RPS'] = df['RPM'] / 60
df['Engine Cycle Time (ms)'] = 1000 / (df['RPS'] / 2)

df['Duty Cycle'] = df['PW'] / df['Engine Cycle Time (ms)']
df

               RPM    PW        RPS  Engine Cycle Time (ms)  Duty Cycle
0      4413.000000  2.23  73.550000               27.192386    0.082008
1      4438.000000  2.22  73.966667               27.039207    0.082103
2      4367.000000  2.21  72.783333               27.478818    0.080426
3      4377.000000  2.22  72.950000               27.416038    0.080975
4      4434.000000  2.23  73.900000               27.063599    0.082398
...            ...   ...        ...                     ...         ...
66325  1982.060059  1.99  33.034334               60.543070    0.032869
66326  1900.000000  1.99  31.666667               63.157895    0.031508
66327  2011.479980  1.99  33.524666               59.657566    0.033357
66328  1959.000000  1.99  32.650000               61.255743    0.032487
66329  1959.000000  1.99  32.650000               61.255743    0.032487

[66330 rows x 5 columns]

# Cálculo Consumo Instantâneo

In [173]:
InjFlowRate = 20.8

df['InstFuelConsumption (lb/h)'] = InjFlowRate * df['Duty Cycle']
df

,RPM,PW,RPS,Engine Cycle Time (ms),Duty Cycle,InstFuelConsumption (lb/h)
0,4413.000000,2.23,73.550000,27.192386,0.082008,1.705772
1,4438.000000,2.22,73.966667,27.039207,0.082103,1.707742
2,4367.000000,2.21,72.783333,27.478818,0.080426,1.672852
3,4377.000000,2.22,72.950000,27.416038,0.080975,1.684270
4,4434.000000,2.23,73.900000,27.063599,0.082398,1.713889
...,...,...,...,...,...,...
66325,1982.060059,1.99,33.034334,60.543070,0.032869,0.683679
66326,1900.000000,1.99,31.666667,63.157895,0.031508,0.655373
66327,2011.479980,1.99,33.524666,59.657566,0.033357,0.693826
66328,1959.000000,1.99,32.650000,61.255743,0.032487,0.675724
66329,1959.000000,1.99,32.650000,61.255743,0.032487,0.675724

# Consumo Total

In [174]:
lb2kg = 0.453592
FuelDensity = 0.750

TotalFuelConsumption_lb = df['InstFuelConsumption (lb/h)'].sum()
TotalFuelConsumption_kg = TotalFuelConsumption_lb * lb2kg
TotalFuelConsumption_l = TotalFuelConsumption_kg * FuelDensity


print('Consumo total:', TotalFuelConsumption_l)
df

138800.88768739867
62958.97224790254
Consumo total: 47219.2291859269

,RPM,PW,RPS,Engine Cycle Time (ms),Duty Cycle,InstFuelConsumption (lb/h)
0,4413.000000,2.23,73.550000,27.192386,0.082008,1.705772
1,4438.000000,2.22,73.966667,27.039207,0.082103,1.707742
2,4367.000000,2.21,72.783333,27.478818,0.080426,1.672852
3,4377.000000,2.22,72.950000,27.416038,0.080975,1.684270
4,4434.000000,2.23,73.900000,27.063599,0.082398,1.713889
...,...,...,...,...,...,...
66325,1982.060059,1.99,33.034334,60.543070,0.032869,0.683679
66326,1900.000000,1.99,31.666667,63.157895,0.031508,0.655373
66327,2011.479980,1.99,33.524666,59.657566,0.033357,0.693826
66328,1959.000000,1.99,32.650000,61.255743,0.032487,0.675724
66329,1959.000000,1.99,32.650000,61.255743,0.032487,0.675724